@import '../../../styles/variables';

.timeframe-picker {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-grey;
  z-index: 1010;
  height: $timeframe-picker-height;
  box-shadow: 0 1px 4px 2px $color-grey-dark;

  & .container {
    align-items: center;
    height: 100%;
  }

  .p-button-text.p-button-sm {
    &.xs {
      min-width: 40px;
      padding: 1rem 0.4rem;
    }

    &.selected {
      border: 2px solid $color-grey-dark;
      background-color: $color-grey-dark;
    }
  }
}
