@import './../../../styles/variables';

.menu-bar {
  width: 100%;
  background: $color-grey;
  height: $menu-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  box-shadow: 0 3px 4px -3px $color-grey-dark;

  .p-button-text.selected {
    background-color: $color-grey-dark;
  }
}
