<div class="menu-bar p-d-flex p-align-center p-justify-between">
  <div class="p-ml-3 p-d-flex p-align-center">
    <img src="https://primefaces.org/primeng/showcase/assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
    <h3 class="p-ml-2">Stocks App</h3>
  </div>
  <div class="p-mr-3">
    <ng-container *ngFor="let item of menuItems">
      <button pButton
              (click)="goToCategory(item.link)"
              type="button"
              [label]="item.label"
              class="p-button-text p-ml-1">
      </button>
    </ng-container>
  </div>
</div>
